.section_title {
    text-align: center;
    margin: 2rem 4rem;
}

.section_title h4 {
    text-transform: capitalize;
    font-size: 45px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

.section_title h4::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #ff7720;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}