.services {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.service_item {
    flex-basis: 22%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    gap: 0.5rem;
}

.service_item h4 {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 700;
}

.service_item p {
    line-height: 1rem;
    font-weight: 500;
}