.dreams {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
}

.dream_item {
    border: 1px solid #ddd;
    padding: 1rem 3rem;
    flex: 0 0 31%;
    margin-bottom: 1rem;
}

.dream_item h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
}

.dream_item p {
    line-height: 1rem;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.dream_item a {
    background: tomato;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}

.div {}