.contact {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.contact_right {
    flex: 80%;
}

.contact_right form {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.contact_right form input {
    padding: 0.5rem 1rem;
}

.contact_right form textarea {
    height: 5rem;
}

.contact_right form button {

    padding: 1rem 4rem;
    background: tomato;
    color: #fff;
    border: none;
}

.contact_map {}

.contact_map iframe {
    width: 100%;
    height: 100%;
    border: none;
}