.services {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.service_item {
    flex: 0 0 22%;
    padding: 2rem 2rem;
    border: 1px solid #ddd;
}

.service_item h4 {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.service_item p {
    line-height: 1rem;
    font-weight: 500;
}